{% extends "base.html" %}
{% block content %}
<!-- Banner Area Starts -->
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>sublime</h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<section>
    <div class="container">
        <div class="row">
            <h3>Session Reservation</h3>
            <p>{{ date }}</p>
            <p>{{ from }}</p>
            <p>{{ to }}</p>
        </div>
    </div>
</section>
{% endblock content %}